{% extends 'base.html.twig' %}

{% block title %}Ipglobal | Posts{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/vendor/datatables/media/css/dataTables.bootstrap5.css') }}" />
{% endblock css %}

{% block body %}

    <header class="page-header">
        <h2>Posts</h2>

        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ url('app_post_list') }}">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>

                <li><span>Posts</span></li>

            </ol>
            <span class="sidebar-right-toggle"></span>
        </div>
    </header>

    <a type="button" class="mb-1 mt-1 mr-1 btn btn-primary" href="{{ url('app_post_list') }}">Go to categories</a>

    <hr class="opacity-0">

    <div class="row">

        <div class="col-md-6">

            <section class="card card-post mb-4">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">Post info</h2>
                </header>

                <div class="card-body">

                    <div class="form-group row pb-3">
                        <div>
                            <label class="col-sm-3 control-label text-sm-end pt-2 required" for="product_title">Post id</label>
                            <input type="text" class="form-control col-sm-9" value="{{ post.id }}" disabled readonly>
                        </div>
                    </div>

                    <div class="form-group row pb-3">
                        <div>
                            <label class="col-sm-3 control-label text-sm-end pt-2 required" for="product_title">Post title</label>
                            <input type="text" class="form-control col-sm-9" value="{{ post.title }}" disabled readonly>
                        </div>
                    </div>

                    <div class="form-group row pb-3">
                        <div>
                            <label class="col-sm-3 control-label text-sm-end pt-2 required" for="product_title">Post body</label>
                            <input type="text" class="form-control col-sm-9" value="{{ post.body }}" disabled readonly>
                        </div>
                    </div>

                </div>
            </section>

        </div>
        <div class="col-md-6">

            <section class="card card-post mb-4">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">Author info</h2>
                </header>

                <div class="card-body">

                    <div class="form-group row pb-3">
                        <div>
                            <label class="col-sm-3 control-label text-sm-end pt-2 required" for="product_title">Author id</label>
                            <input type="text" class="form-control col-sm-9" value="{{ post.author.id }}" disabled readonly>
                        </div>
                    </div>

                    <div class="form-group row pb-3">
                        <div>
                            <label class="col-sm-3 control-label text-sm-end pt-2 required" for="product_title">Author name</label>
                            <input type="text" class="form-control col-sm-9" value="{{ post.author.name }}" disabled readonly>
                        </div>
                    </div>

                </div>
            </section>

        </div>
    </div>
    <!-- end: page -->
    </section>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('/vendor/datatables/media/js/dataTables.bootstrap5.min.js') }}"></script>
    <script src="{{ asset('/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('/vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js') }}"></script>
    <!-- Specific Page Vendor -->

    <!-- Theme Base, Components and Settings -->
    <script src="{{ asset('/js/theme.js') }}"></script>

    <!-- Theme Custom -->
    <script src="{{ asset('/js/custom.js') }}"></script>

    <!-- Theme Initialization Files -->
    <script src="{{ asset('/js/theme.init.js') }}"></script>

    <script src="{{ asset('/js/examples/examples.datatables.default.js') }}"></script>
{% endblock javascripts %}