{% extends 'base.html.twig' %}

{% block title %}Ipglobal | Posts{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/vendor/datatables/media/css/dataTables.bootstrap5.css') }}" />
{% endblock css %}

{% block body %}

    <header class="page-header">
        <h2>Posts</h2>

        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ url('app_post_list') }}">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>

                <li><span>Posts</span></li>

            </ol>
            <span class="sidebar-right-toggle"></span>
        </div>
    </header>

    <div class="row">
        <div class="col-md-12">
            <section class="card mb-4">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">View post</h2>
                </header>

                <div class="card-body mb-5">
                    <div class="bounce-loader"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                </div>

                <div class="card-body d-none">
                    <table class="table table-bordered table-striped mb-0" id="datatable-posts">
                        <thead>
                        <tr>
                            <th>User id</th>
                            <th>Post id</th>
                            <th>Title</th>
                            <th>Body</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <!-- end: page -->
    </section>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('/vendor/datatables/media/js/dataTables.bootstrap5.min.js') }}"></script>
    <script src="{{ asset('/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('/vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js') }}"></script>
    <!-- Specific Page Vendor -->

    <!-- Theme Base, Components and Settings -->
    <script src="{{ asset('/js/theme.js') }}"></script>

    <!-- Theme Custom -->
    <script src="{{ asset('/js/custom.js') }}"></script>

    <!-- Theme Initialization Files -->
    <script src="{{ asset('/js/theme.init.js') }}"></script>

    <script src="{{ asset('/js/examples/examples.datatables.default.js') }}"></script>
    <script src="{{ asset('/js/examples/examples.datatables.row.with.details.js') }}"></script>
    <script src="{{ asset('/js/examples/examples.datatables.tabletools.js') }}"></script>
{% endblock javascripts %}